.body {
    background-color: aqua !important;
}

.root {
    background-color: aqua !important;

}

.hover-shadow {
    transition: box-shadow 0.3s ease;
}

.hover-shadow:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}